################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/14.04.2020/.vs/14.04.2020/v16
/14.04.2020/Debug/14.04.2020.exe
/14.04.2020/14.04.2020/Debug
/14.04.2020/Debug
/EvenOddArrays/.vs/EvenOddArrays/v16
/ImGUI_TEST
/FunctionTemplates/.vs/FunctionTemplates/v16
/Introduction/.vs/Introduction/v16
/FunctionTemplates/Debug
/Exam/.vs/Exam/v16
/Exam/Debug
/OOP_GetDistance/.vs/OOP_GetDistance/v16
/OOP_GetDistance/Debug
/OOP_GetDistance/OOP_GetDistance/Debug
